@media (max-width: 500px) {
  /* utilities */
  .l-heading {
    font-size: 3rem;
  }

  /* navbar */
  header .flex {
    display: flex;
    flex-direction: column;
  }

  .flex h1 {
    text-align: center;
  }

  .nav-link {
    margin: auto;
  }

  .anim-ul a {
    display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  /* welcome-section */
  #welcome-section {
    display: flex;
    flex-direction: column;
    height: 65vh;
  }

  #welcome-section .content-right {
    display: none;
  }

  #welcome-section .content-left {
    padding: 1rem;
    margin-top: 6rem;
  }

  /* About me */
  #about-me {
    display: flex;
    flex-direction: column;
  }

  #about-me #about-left {
    display: none;
  }

  #about-me #about-right {
    padding: 2rem;
    margin-top: 9rem;
  }

  /* skills */
  #skills h1 {
    padding-left: 1rem;
  }

  .skills-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-img img {
    padding: 1rem 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  /* project */
  #projects h1 {
    padding-left: 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    width: 300px;
    height: 200px;
  }

  .card-container img {
    transition: all 0.5s;
    width: 400px;
    height: 200px;
  }
  /* contact */
  #contact h1 {
    text-align: center;
  }

  #contact input,
  #contact label,
  #contact textarea {
    display: block;
    margin: 0 auto;
    max-width: 350px;
  }

  /* footer */
  #footer h1 {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
  }

  #footer .personal-link a {
    padding-bottom: 2rem;
  }
}
